main#main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg {
    position: absolute;
    top: calc($nav-height + 1rem);
    left: 9rem;
    height: 35vh;
    max-width: max(35vw, 250px);
  }
}
